<%- include ("../partials/header") %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome To The Nap App!</h1>
      <p>Where should you take your next nap?</p>
      <p>
        <a class="btn btn-dark btn-large" href="/locations/new"
          >Add New Location</a
        >
      </p>
    </div>
  </header>

  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% locations.forEach(function(location){ %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <img src="<%= location.image %>" />
        <div class="caption">
          <h4><%= location.name %></h4>
        </div>
        <p>
          <a href="/locations/<%= location._id %>" class="btn btn-dark"
            >More Info</a
          >
        </p>
      </div>
    </div>
    <% }); %>
  </div>
</div>
<%- include ("../partials/footer") %>
