<!DOCTYPE html>
<html>
  <head>
    <title>NapApp</title>
    <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>

    <link rel="stylesheet" href="/stylesheets/show.css" />
  </head>
  
  <body>
    <div class="wrapper">
      <div class="card-img">
        <img src="<%= location.image %>" height="470" width="400">
      </div>
      <div class="card-info">
        <div class="card-text">
          <h1><%= location.name %></h1>
          
          <h2>Nap Scout: <%= location.creator.username %></h2>
          <h2><%= location.description %></h2>
          <% if(currentUser && location.creator.id.equals(currentUser._id)) {
            %>
            <a
            class="card-price-btn"
            href="/locations/<%= location._id %>/edit"
            >Edit</a
          >
          <form
          id="delete-form"
          action="/locations/<%= location._id %>?_method=DELETE"
          method="post"
        >
          <button type="submit">Delete</button>
        </form>
        <% } %>

        </div>
        <div class="card-price-btn">
          
          <button type="button"> <a
            href="/locations/<%= location._id %>/comments/new"
            >Add New Comment</a
          ></button>
          
          
          
        </div>
      </div>
    </div>
    
    <div class="container">
      <div>
        <% location.comments.forEach(function(comment){ %>
        <h2><%= comment.creator.username %></h2>
          <br>
        <%= comment.text %>
        </p>
        <hr>
        <% if(currentUser && comment.creator.id.equals(currentUser._id)){
          %>
          <a href="/locations/<%=location._id %>/comments/<%=comment._id %>/edit" >Edit</a>
              <form id="delete-form" action="/locations/<%=location._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete"/>
              </form>
            <% } %>
          </div>
        </div>
      <% }) %>
  </body>
  </html>

  

  <%- include ("../partials/footer") %>




